Systemes_distribues/WebServiceSOAP/web/WEB-INF/wsit-WebServiceSOAP.WebServiceSOAP.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WebServiceSOAP" targetNamespace="http://WebServiceSOAP/" xmlns:tns="http://WebServiceSOAP/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="HistoriqueVols"/>
    <message name="HistoriqueVolsResponse"/>
    <message name="AuthException"/>
    <message name="ProchainsVols"/>
    <message name="ProchainsVolsResponse"/>
    <message name="Vols"/>
    <message name="VolsResponse"/>
    <portType name="WebServiceSOAP">
        <operation name="HistoriqueVols">
            <input message="tns:HistoriqueVols"/>
            <output message="tns:HistoriqueVolsResponse"/>
            <fault name="AuthException" message="tns:AuthException"/>
        </operation>
        <operation name="ProchainsVols">
            <input message="tns:ProchainsVols"/>
            <output message="tns:ProchainsVolsResponse"/>
            <fault name="AuthException" message="tns:AuthException"/>
        </operation>
        <operation name="Vols">
            <input message="tns:Vols"/>
            <output message="tns:VolsResponse"/>
            <fault name="AuthException" message="tns:AuthException"/>
        </operation>
    </portType>
    <binding name="WebServiceSOAPPortBinding" type="tns:WebServiceSOAP">
        <wsp:PolicyReference URI="#WebServiceSOAPPortBindingPolicy"/>
        <operation name="HistoriqueVols">
            <input/>
            <output/>
            <fault name="AuthException"/>
        </operation>
        <operation name="ProchainsVols">
            <input/>
            <output/>
            <fault name="AuthException"/>
        </operation>
        <operation name="Vols">
            <input/>
            <output/>
            <fault name="AuthException"/>
        </operation>
    </binding>
    <service name="WebServiceSOAP">
        <port name="WebServiceSOAPPort" binding="tns:WebServiceSOAPPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="WebServiceSOAPPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
