Systemes_distribues/SOAPWebService/src/conf/xml-resources/web-service-references/SOAPWebService/wsdl/localhost_8080/SOAPWebService/SOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SOAPWebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SOAPWebService/" name="SOAPWebService">
<wsp:Policy wsu:Id="SOAPWebServicePortBindingPolicy"/>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="SOAPWebServicePortBinding_HistoriqueVols_Input_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="SOAPWebServicePortBinding_HistoriqueVols_Output_Policy">
<sp:EncryptedParts>
<sp:Body/>
</sp:EncryptedParts>
<sp:SignedParts>
<sp:Body/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="From"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="AckRequested"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="CreateSequence"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="Sequence"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID"/>
<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
<sp:Header Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702" Name="SequenceAcknowledgement"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action"/>
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo"/>
</sp:SignedParts>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://SOAPWebService/" schemaLocation="http://localhost:8080/SOAPWebService/SOAPWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="ProchainsVols">
<part name="parameters" element="tns:ProchainsVols"/>
</message>
<message name="ProchainsVolsResponse">
<part name="parameters" element="tns:ProchainsVolsResponse"/>
</message>
<message name="AuthException">
<part name="fault" element="tns:AuthException"/>
</message>
<message name="HistoriqueVols">
<part name="parameters" element="tns:HistoriqueVols"/>
</message>
<message name="HistoriqueVolsResponse">
<part name="parameters" element="tns:HistoriqueVolsResponse"/>
</message>
<message name="Vols">
<part name="parameters" element="tns:Vols"/>
</message>
<message name="VolsResponse">
<part name="parameters" element="tns:VolsResponse"/>
</message>
<portType name="SOAPWebService">
<operation name="ProchainsVols">
<input wsam:Action="http://SOAPWebService/SOAPWebService/ProchainsVolsRequest" message="tns:ProchainsVols"/>
<output wsam:Action="http://SOAPWebService/SOAPWebService/ProchainsVolsResponse" message="tns:ProchainsVolsResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://SOAPWebService/SOAPWebService/ProchainsVols/Fault/AuthException"/>
</operation>
<operation name="HistoriqueVols">
<input wsam:Action="http://SOAPWebService/SOAPWebService/HistoriqueVolsRequest" message="tns:HistoriqueVols"/>
<output wsam:Action="http://SOAPWebService/SOAPWebService/HistoriqueVolsResponse" message="tns:HistoriqueVolsResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://SOAPWebService/SOAPWebService/HistoriqueVols/Fault/AuthException"/>
</operation>
<operation name="Vols">
<input wsam:Action="http://SOAPWebService/SOAPWebService/VolsRequest" message="tns:Vols"/>
<output wsam:Action="http://SOAPWebService/SOAPWebService/VolsResponse" message="tns:VolsResponse"/>
<fault message="tns:AuthException" name="AuthException" wsam:Action="http://SOAPWebService/SOAPWebService/Vols/Fault/AuthException"/>
</operation>
</portType>
<binding name="SOAPWebServicePortBinding" type="tns:SOAPWebService">
<wsp:PolicyReference URI="#SOAPWebServicePortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ProchainsVols">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#SOAPWebServicePortBinding_HistoriqueVols_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#SOAPWebServicePortBinding_HistoriqueVols_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="HistoriqueVols">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#SOAPWebServicePortBinding_HistoriqueVols_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#SOAPWebServicePortBinding_HistoriqueVols_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
<operation name="Vols">
<soap:operation soapAction=""/>
<input>
<wsp:PolicyReference URI="#SOAPWebServicePortBinding_HistoriqueVols_Input_Policy"/>
<soap:body use="literal"/>
</input>
<output>
<wsp:PolicyReference URI="#SOAPWebServicePortBinding_HistoriqueVols_Output_Policy"/>
<soap:body use="literal"/>
</output>
<fault name="AuthException">
<soap:fault name="AuthException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SOAPWebService">
<port name="SOAPWebServicePort" binding="tns:SOAPWebServicePortBinding">
<soap:address location="http://localhost:8080/SOAPWebService/SOAPWebService"/>
</port>
</service>
</definitions>