Systemes_distribues/SOAPWebService/web/WEB-INF/wsdl/localhost_8080/SOAPWebService/SOAPWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://SOAPWebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SOAPWebService/">

<xs:element name="AuthException" type="tns:AuthException"/>

<xs:element name="HistoriqueVols" type="tns:HistoriqueVols"/>

<xs:element name="HistoriqueVolsResponse" type="tns:HistoriqueVolsResponse"/>

<xs:element name="ProchainsVols" type="tns:ProchainsVols"/>

<xs:element name="ProchainsVolsResponse" type="tns:ProchainsVolsResponse"/>

<xs:element name="Vols" type="tns:Vols"/>

<xs:element name="VolsResponse" type="tns:VolsResponse"/>

<xs:complexType name="ProchainsVols">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ProchainsVolsResponse">
<xs:sequence>
<xs:element name="Vol" type="tns:vol" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vol">
<xs:sequence>
<xs:element name="aeroport_arrivee" type="xs:string" minOccurs="0"/>
<xs:element name="aeroport_depart" type="xs:string" minOccurs="0"/>
<xs:element name="arrivee" type="xs:dateTime" minOccurs="0"/>
<xs:element name="avion" type="xs:int"/>
<xs:element name="depart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="pilote" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AuthException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Vols">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VolsResponse">
<xs:sequence>
<xs:element name="Vol" type="tns:vol" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HistoriqueVols">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="HistoriqueVolsResponse">
<xs:sequence>
<xs:element name="Vol" type="tns:vol" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>